<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Indicates that the Node.js app is handled by the iisnode module -->
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Redirect all requests to the main entry point of the Node.js application -->
        <rule name="Main Rule" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <!-- Ensure that iisnode logs are stored in the directory specified by the `logsDirectory` setting -->
    <iisnode
      nodeProcessCommandLine="D:\Program Files (x86)\nodejs\node.exe"
      debuggingEnabled="true"
      logsDirectory="iisnode"
    />
  </system.webServer>
</configuration>