body {
    background: black;
    margin: 0;
    padding: 0;
    height: 100%;
    background-size: cover;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#coinsLabel{    
    text-align: center;
    margin-top: 130px;
    color: white;
}

#energyLabel{
    text-align: center;
    margin-top: 55px;
    color: white;
}

#mainButtonBox{
    margin-top: 40px;
    position: relative;
    border-radius: 50%;
    width: 70vw;
    height: 70vw;
}

@keyframes upAndFadeOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-220px); /* Move up by 40px */
    opacity: 0; /* Fade out */
  }
}

#menu {
    position: absolute;
    margin-top: 40px;
    padding-top: 5px;
    text-align: center;
    top: 620px;
    width: 90%;
    margin-left: 5%;
    height: 50px;
    background: white;
    border-radius: 4px;
}

#friendsButton{
    position: relative;
    padding-top: 5px;
    top:-45px;
    color:white;
    margin: 0 auto;
    height: 40px;
    width: 60px;
    background-color: var(--tg-theme-bg-color);
    border-radius: 5px;
}

#gameButton{
    padding-top: 5px;
    color:red;
    position: relative;
    margin-left: 5px;
    height: 40px;
    width: 60px;
    background-color: var(--tg-theme-bg-color);
    border-radius: 5px;
}

#inviteSimpleBox{
    color: var(--tg-theme-bg-color);
    position: absolute;
    width: 90%;
    height: 90px;
    background-color: white;
    border-radius: 4px;
    margin-left: 5%;
    margin-top: 5%;
}

#invitePremiumBox{
    color: var(--tg-theme-bg-color);
    position: absolute;
    width: 90%;
    height: 90px;
    background-color: white;
    border-radius: 4px;
    margin-left: 5%;
    margin-top: 32%;
}

#friendsBox{
    overflow-y: scroll;
    position: absolute;
    width: 90%;
    height: 105px;
    background-color: white;
    border-radius: 4px;
    margin-left: 5%;
    margin-top: 70%;
}

#inviteFriendBox{
    color: var(--tg-theme-bg-color);
    position: absolute;
    width: 67%;
    height: 60px;
    background-color: white;
    border-radius: 4px;
    margin-left: 5%;
    margin-top: 118%;
}

#generateLinkBox{
    position: absolute;
    width: 20%;
    height: 60px;
    background-color: white;
    border-radius: 4px;
    margin-left: 75%;
    margin-top: 118%;
}

#refreshFriendsList{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 4px;
    margin-left: 85.5%;
    margin-top: 58.5%;
}

.subFriendsBox{
    border-radius: 4px;
    background-color: var(--tg-theme-bg-color);
    width: 90%;
    margin-left: 5%;
    height: 50px;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.subFriendsBoxUsername{
    margin-left: 2vw;
    position: absolute;
    margin-top: 3.5vw;
    text-align: left;
    color: white;
}

.subFriendsBoxStatus{
    margin-left: 50vw;
    position: absolute;
    margin-top: 3.5vw;
    text-align: left;
    color: red;
}

#earnPerClickBox{
    height: 60px;
    background-color: white;
    width: 26.6vw;
    border-radius: 4px;
    position: absolute;
    margin-top: 30px;
    margin-left: 5vw;
}

#clicksTillLevelUp{
    height: 60px;
    background-color: white;
    width: 26.6vw;
    border-radius: 4px;
    position: absolute;
    margin-top: 30px;
    margin-left: 36.6vw;
}

#passiveClicks{
    height: 60px;
    background-color: white;
    width: 26.6vw;
    border-radius: 4px;
    position: absolute;
    margin-top: 30px;
    margin-left: 68.2vw;
}

.insideLabel{
    text-align: center;
    margin-top: 5px
}

#earnPerClickCoin{
    margin-top: -25px;
    margin-left: 35px;
}

#earnPerClickLabel{
    margin-top: -27px;
    margin-left: 70px;
    color: black;
}

#clicksTillLevelUpLabel{
    margin-top: -10px;
    text-align: center;
}

#passiveClicksCoin{
    margin-top: -25px;
    margin-left: 35px;
}

#passiveClicksLabel{
    margin-top: -27px;
    margin-left: 70px;
    color: black;
}

#progressBarBox{
    width: 90vw;
    margin-left: 5vw;
    height: 20px;
    border-radius: 8px;
    background-color: white;
    position: absolute;
    margin-top: 185px;
}

#progressBar{
    width: 25vw;
    height: 20px;
    position: absolute;
    background-color: red;
    border-radius: 8px;
}

#progressBarBoxStatusLabel{
    position: absolute;
    color: white;
    margin-top: 160px;
    margin-left: 5vw;
}

#progressBarBoxLevelLabel{
    position: absolute;
    color: white;
    margin-top: 160px;
    margin-left: 80vw;
}